.calculator-button {
    appearance: none;
    border: none;
    outline: none;
    background-color: #131a26;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.calculator-button:hover {
    background-color: #2e3847;
}

.calculator-button:active {
    background-color: #2e3847;
    transform: scale(0.98);
}
