body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #131a26;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: #302e47;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.button-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Четыре столбца одинаковой ширины */
  grid-auto-rows: 1fr; /* Каждая строка равной высоты */
}

.display span {
  font-size: 14px;
  color: #888;
}